.home-program-grid{
  display: grid;
  gap: 1.2rem;
}

@media (min-width: 700px){
  .home-program-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px){
  .home-program-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

.home-program-card{
  cursor: pointer;
}